@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
  height: 1400px;
}
#header {
    width: 100%;
    height: 76px;
    background-color: #3EC5FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    overflow: hidden;
  }
  
  #header-text {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
  }
  
  #header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
  }
  #welcome {
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
  } 
  #welcome img {
    position: absolute;
    bottom: 0;
  }
  #CloudRight {
    left: 0;
    width: 40%;
    max-width: 400px;
  }
  #CloudLeft {
    right: 0;
    width: 40%;
    max-width: 400px; 
  }
  #welcome-navbar {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px; 
    box-sizing: border-box;
  }
  
  #welcome-navbar-logo {
    width: 200px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #logohead {
    position: relative !important;
  }
  
  #welcome-navbar-logo h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  #welcome-navbar-links {
    height: 25px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #welcome-navbar-links a {
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    color: black;
  }
  
  #welcome-navbar-request {
    width: 283px;
    height: 74px;
    background-color: #3EC5FA;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#Registration {
  display: grid;
  justify-content: center;
  width: 560px;
  height: 600px;
  background-color: #3EC5FA;
  border-radius: 10px ;
  position: relative;
  top: 30px;
  left: 1250px;
}
.textReg{
  color: #fbfffe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
}
#NameInput{
  position: relative;
  top: 60px;
  height: 70px;
  width: 353px;
}
#NameInput input, #email input{
  padding-left: 20px;
  border-radius: 10px;
  height: 46px;
  width: 353px;
  border: 0px;
}
#message textarea {
  padding: 20px; /* отступы внутри поля */
  border-radius: 10px;
  height: 155px;
  width: 353px;
  border: 0px;
  text-align: left; /* текст по левому краю */
  vertical-align: top; /* текст начнется сверху */
}
#NameInput input:focus, #email input:focus, #message textarea:focus{
  outline: none;
  border: 2px, solid, gray;
}

#email{
  position: relative;
  top: -130px;
  height: 70px;
  width: 353px;
}
#message {
  position: absolute;
  top: 280px;
  left: 104px;
  height: 180px;
  width: 353px;
}
#Registration button{
  position: absolute;
  top: 500px;
  left: 104px;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  background-color: #fddb3a;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
#Registration button:hover {
  background-color: #ffcc00;
  transform: scale(1.05); 
}
#ContactBody{
  width: 460px;
  height: 200px;
  position: relative;
  top: -500px;
  left: 300px;
}
#HeadlineContactBody{
  color: #231f20;
  position: relative;
  top: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 44px;  
}
#MiniHeadline{
  display: flex;
  align-items: center;
  color: #3EC5FA;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;  
}
#MiniHeadline img{
  position: relative;
}
#TextContactBody {
  position: absolute;
  top: 150px;
  left: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;  
}
.headLineBody{
  color: #3ec5fa;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
}
.TextUnderHeadlineBody{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
}
#Phone{
  position: absolute;
  top: 450px;
  left: 300px;
  width: 390px;
  height: 90px;
}
#Phone p, #MailBody p, #LocationBody p{
  position: absolute;
  left: 100px;
  top: 10px;
}
#Phone u, #MailBody u, #LocationBody u{
  position: absolute;
  top: 50px;
  left: 100px;
}
#Phone img, #MailBody img, #LocationBody img{
  position: absolute;
  left: 30px;
  top: 30px;
}
#MailBody {
  position: absolute;
  top: 560px;
  left: 300px;
  width: 390px;
  height: 90px;
}
#LocationBody {
  position: absolute;
  top: 670px;
  left: 300px;
  width: 390px;
  height: 90px;
}
footer {
    position: relative; 
    width: 1900px;
    height: 427px;

}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 200px;
    width: 180px;
    height: 60px;
}
#logo u {
    position: relative;
    top: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
}
#UnderLogo{
    position: absolute;
    top: 170px;
    left: 225px;
    width: 287px;
    height: 54px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#SocialMedia {
    position: absolute;
    top: 250px;
    left: 210px;
    width: 180px;
    height: 40px;
    padding-left: 15px;
}
#nav {
    position: absolute;
    top: 120px;
    left: 750px;
    width: 105px;
    height: 160px;
}
#nav a{
    color: black;
}
.HeadlineNav{

    color: #3EC5FA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#QuickLinks {
    position: absolute;
    top: 120px;
    left: 1050px;
    width: 130px;
    height: 160px;
}
#QuickLinks a {
    color: black;
}
#Contact {
    position: absolute;
    top: 120px;
    left: 1350px;
}
.TextFooter{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
#ContactInfo {
    position: absolute;
    top: 175px;
    left: 1350px;
}
#ContactInfo a {
    position: relative;
    top: 0px;
    left: 20px;
    width: 230px;
    color: black;
}
#adress {
    position: absolute;
    top: 270px;
    left: 1398px;
    color: black;
}
#forAdress {
    position: absolute;
    top: 270px;
    left: 1350px;
}
#copyright {
    position: relative;
    top: 365px;
    height: 63px;
    background-color: #3EC5FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}
